* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body {
  background: rgb(32, 34, 34);
  color: #fff;
}

nav {
  width: 100vw;
  position: sticky;
  background: rgb(32, 34, 34);
}

.main-heading h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 3rem;
  font-family: 'Abril Fatface', cursive;
}

.main-heading span {
  background: linear-gradient(180deg, magenta, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  font-family: 'Oleo Script', cursive;
  transform: translate(-21px, 25px);
}

.main-heading .bubble {
  transform: translate(35px, -8px);  
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 128px;
  background: transparent;
  box-shadow: inset 1px 2px 4px 3px #fff, inset 1px 2px 3px 2px cyan, inset 0px -40px 47px -18px;
}

.nav-bar {
  position: fixed;
  top: 0%;
  z-index: 500;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  text-transform: capitalize;
  overflow: auto;
  text-overflow: ellipsis;
  animation: marquee 10s linear infinite;
  font-size: 1.5rem;
  margin-bottom: 10%;
  text-transform: uppercase;
  position: sticky;
  padding-bottom: 40px;
  font-weight: 600;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-list li {
  font-family: 'Abril Fatface', cursive;
  color: #fff;
}

.nav-list li:hover {
  cursor: pointer;
  background: linear-gradient(180deg, rgb(160, 136, 160), cyan);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(5px);
  font-size: 1.7rem;
  text-decoration: underline;
}