* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cards-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 10px;
}

.cards-container:nth-child(1) {
    margin-top: 12%;
}

.card {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #333;
    transition: .5s;
    border-radius: 20px;
}

.card4 {
    position: relative;
    width: 550px;
    height: 750px;
    background-color: #333;
    transition: .5s;
    border-radius: 20px;
}

.card .lines,
.card4 .lines4 {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before,
.card4 .lines4::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: ikrambo 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

@keyframes ikrambo {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card .lines::after,
.card4 .lines4::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #333;
}

.card .content,
.card4 .content4 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
}

.card4 .content4 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding-top: 60px;
}

.card .content .details,
.card4 .content4 .details4 {
    position: absolute;
    text-align: center;
    width: 100%;
    transition: .5s;
    transform: translateY(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    max-height: 400px;
    margin-bottom: 30px;
}


.card .content .details h2,
.card4 .content4 .details4 h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 10px;
    line-height: 2rem;
    background: linear-gradient(180deg, magenta, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-overflow: hidden;
    white-space: nowrap;
}

.card4 .content4 .details4 h2 {
    color: #fff;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 10px;
    background: linear-gradient(180deg, magenta, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-overflow: hidden;
    white-space: nowrap;
}

.card .content .details h5,
.card4 .content4 .details4 h5 {
    text-transform: uppercase;
    font-style: italic;
    padding: 20px 0px;
    word-spacing: 5px;
    justify-content: center;
    text-overflow: ellipsis;
}

.card .content .details p:nth-child(1),
.card4 .content4 .details4 p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.card .content .details p:nth-child(2),
.card4 .content4 .details4 p:nth-child(2) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.card .content .details p:nth-child(3) {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.card .content .details span,
.card4 .content4 .details4 span {
    background: linear-gradient(180deg, magenta, cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
}

.single-card-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}