* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(32, 34, 34);
  color: #fff;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heading span {
  background: linear-gradient(180deg, magenta, cyan);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
